.cart-container {
  width: 250px;
  height: 75vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 0 7px;
  overflow-y: auto;
}
.cart-title {
  display: flex;
  padding: 10px;
  border-bottom: 0.1px solid rgb(214, 211, 211);
  justify-content: space-between;
  align-items: center;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  padding: 10px 0;
}

.cart-content h6:nth-child(2) {
  flex-basis: 50px;
}
.cart-content h6:nth-child(4) {
  font-size: 0.85rem;
  font-weight: normal;
}

.count {
  display: flex;
  align-items: center;
}

.count span {
  background: #eee;
  font-size: 0.8rem;
  padding: 2px 7px;
  border-radius: 5px;
}

.cart-img {
  width: 50px;
  height: 50px;

  background: rgb(223, 206, 181);
}
.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-order {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}
.cart-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.order-btn {
  background: #f04b4b;
  border-radius: 5px;
  color: white;
  padding: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}
.clear-cart {
  cursor: pointer;
}
